<!-- <footer class="container-fluid bg-primary">
        <div class="row p-2">
          <div class="col-4 text-center text-white">
            LCO Social App
          </div>
          <div class="col-8 text-center text-white">
            App created by "Add your name"
          </div>
        </div>
      </footer> -->
      


      <footer class="container-fluid bg-dark">
        <div class="row p-0">


                <div class="col-md-5 col-md-5">
                          <h1 class="text-light">About us</h1>
                          <p class="text-muted">created by <a href="https://github.com/suhaassmh/">@suhaassmh</a>
                          </p>
                           <p calss="pt-4 text-muted"> 
                           Copyright @2020 All rights reserved!
                           <span>Bulletin</span>
                            </p>
                </div>

                <div class="col-md-5  text-white">
                                         <h4 class="text-light">News letter</h4>
                               <p class="text-muted">Collabarote with us</p>
                               <form (ngSubmit)="onSubmit()"  class="form-inline">
                                 <div class="col pl-1">
                                   <div class="input-group pr-5">
                                     <input 
                                     type="email"
                                     name="collabEmail" 
                                     class="form-control bg-dark text-white" 
                                     placeholder="Enter your mailID" 
                                     [(ngModel)]="collabEmail"
                                      >
                                     <!-- <div class="input-group-prepend"> -->
                                       <!-- <div class="input-group-text"> -->
                                       <button  type="submit" style=" padding: 0%; height: 1.3em; width: 1.3em; color: #ff512f;" class="fa fa-arrow-circle-o-right" >  </button> 
                                       <!-- </div> -->
                                     <!-- </div> -->
                                   </div>
                                 </div>
                               </form>
                </div>

                <div class="col-md-2 col-sm-12">

                        <h4 class="text-light">Follow US</h4>
                        <p class="text-muted">Let us be Social</p>
                        <div class="row">
                          <!-- <a href="#" style="padding: 0%;" class="fa fa-facebook"></a> -->
                          <a href="https://instagram.com/suhaas_smh" style="padding: 0%;" class="fa fa-instagram"></a>
                          <a href="https://github.com/suhaassmh" style="padding: 0%;" class="fa fa-github"></a>
                          <a href="https://twitter.com/suhaas_smh" style="padding: 0%;" class="fa fa-twitter"></a>            
                        </div>
                      </div>

        </div>
</footer>